:root {
    --color-de-fondo: #EAF2FD;
    --color-de-fondo-menu: #F5F5F5;
    /*--color-de-fondo: #90A9B0;*/
    /*--color-de-fondo: #80b0bd;
    --color-de-fondo-menu: #637077a2;*/
    /*--color-de-fondo: #bed361;
    --color-de-fondo-menu: #7cc7d3;*/
    --color-de-link: #000000;
}   

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
}

a {
    color: var(--color-de-link);
    text-decoration: none;
}

ol, ul, li {
    list-style: none;
}

/* Cabecera */
.cabecera {
    background-color: var(--color-de-fondo-menu);
    padding: 25px 10%;
}

.cabecera__logo {
    height: auto;
}

.navegacion__elemento {
    display: none;
}

.presentacion {
    background-color: var(--color-de-fondo-menu);
    padding: 30px 10%;
}

.presentacion__foto {
    width: 100%; /* Permite que la imagen sea adaptable */
    max-width: 350px; /* Limita el tamaño máximo */
    height: auto;
    aspect-ratio: 1 / 1; /* Garantiza que siempre sea cuadrada */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    margin-bottom: 30px;
}

.presentacion__contenedor {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.presentacion__titulo {
    font-size: 1.4rem;
}

.presentacion__subtitulo {
    font-size: 0.9rem;
}

.redes {
    display: flex;
    gap: 1rem;
}

.sobre-mi {
    background-color: var(--color-de-fondo);
    padding: 30px 10%;
}

.habilidades {
    background-color: var(--color-de-fondo-menu);
    padding: 30px 10%;
}

.habilidades__titulo {
    display: flex;
    justify-content: center;
}

.habilidades__lista {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas en móvil */
    place-items: center;
}

.habilidades__elemento {
    border: 2px solid #2E2E2E;
    border-radius: 0.5rem;
    width: 6rem;
    height: 6rem;
    padding: 1.25rem;
    margin: 1.25rem 0;
    gap: 0.5rem;
    background-color: #F3F6F7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.habilidades__icono {
    height: 25px;
}

.aficiones {
    background-color: var(--color-de-fondo-menu);
    padding: 30px 10%;
}

.aficiones__titulo {
    display: flex;
    justify-content: center;
}

.aficiones__lista {
    display: flex;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  /* 2 columnas en móvil */
    place-items: center;
}

.aficiones__elemento {
    border: 2px solid #2E2E2E;
    border-radius: 0.5rem;
    width: 6rem;
    height: 6rem;
    padding: 1.25rem;
    margin: 1.25rem 0;
    gap: 0.5rem;
    background-color: #F3F6F7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex; /* Activar flexbox */
    flex-direction: column; /* Apilar elementos verticalmente */
    align-items: center; /* Centrar horizontalmente */
    justify-content: center; /* Centrar verticalmente */
}

.formacion {
    background-color: var(--color-de-fondo);
    padding: 30px 10%;
}

.formacion__titulo {
    display: flex;
    justify-content: center;
}

.formacion__lista {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4.5rem;
}

.formacion__elemento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formacion__icono {
    width: 180px; /* Ancho fijo para todas las imágenes */
    object-fit: cover; /* Ajusta la imagen para llenar el espacio respetando la proporción */
}

.formacion__detalle {
    display: flex;
    justify-content: center;
}

.proyectos {
    background-color: var(--color-de-fondo-menu);
    padding: 30px 10%;
}

.proyectos__titulo {
    display: flex;
    justify-content: center;
}

.proyectos__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
    gap: 1.5rem;
}

.imagen__proyecto {
    width: 100%; /* Permite que la imagen sea adaptable */
    max-width: 800px; /* Limita el tamaño máximo */
    height: auto;
    order: 1;
}

.proyectos__informacion {
    display: flex;
    align-items: center;
    flex-direction: column;
    order: 2;
}

.proyectos__nombre {
    padding: 15px;
}

.proyectos__botones {
    display: flex;
    gap: 10px;
}

.boton__repo {
    font-size: 1.2rem; /* Tamaño del texto (ajusta según tu preferencia) */
    padding: 1rem; /* Tamaño del botón: ajusta para hacerlo más grande o pequeño */
    background-color: #ffffff; /* Fondo blanco */
    color: #007BFF; /* Letras azules */
    border: 2px solid #007BFF; /* Borde azul */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.boton__repo:hover {
    background-color: #007BFF; /* Fondo azul al pasar el cursor */
    color: #ffffff; /* Letras blancas al pasar el cursor */
}

.boton__demo {
    font-size: 1.2rem; /* Tamaño del texto (ajusta según tu preferencia) */
    padding: 1rem; /* Tamaño del botón: ajusta para hacerlo más grande o pequeño */
    background-color: #ffffff; /* Fondo blanco */
    color: #007BFF; /* Letras azules */
    border: 2px solid #007BFF; /* Borde azul */
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.boton__demo:hover {
    background-color: #007BFF; /* Fondo azul al pasar el cursor */
    color: #ffffff; /* Letras blancas al pasar el cursor */
}

.contacto {
    background-color: var(--color-de-fondo);
    padding: 30px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6.5rem;
}

.contacto__imagen {
    display: none;
}

.contacto__informacion {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contacto__titulo {
    font-size: 2rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contacto__campo {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.contacto__campo--textarea {
    height: 100px;
    resize: none;
}

.contacto__boton {
    padding: 10px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contacto__boton:hover {
    background-color: #0056b3;
}

.footer {
    background-color: var(--color-de-fondo-menu);
    padding: 30px 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__texto {
    font-size: 0.87rem;
}

/* ------------------------------ Responsividad ---------------------------------------*/

/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    /*
    .cabecera {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cabecera__logo {
        max-width: 100px;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
    }

    .navegacion__lista {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        margin-top: 0;
    }

    .navegacion__elemento a {
        font-size: 1rem;
    }
    */
    .presentacion {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .presentacion__foto {
        width: 100%; /* Permite que la imagen sea adaptable */
        max-width: 210px; /* Limita el tamaño máximo */
        height: auto;
        aspect-ratio: 1 / 1; /* Garantiza que siempre sea cuadrada */
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }

    .presentacion__titulo {
        font-size: 2rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1rem;
    }

    .habilidades {
        padding: 30px 10%;
    }

    .habilidades__lista {
        grid-template-columns: repeat(3, 1fr);  /* 2 columnas en móvil */
    }

    .habilidades__elemento {
        display: flex; /* Activar flexbox */
        flex-direction: column; /* Apilar elementos verticalmente */
        align-items: center; /* Centrar horizontalmente */
        justify-content: center; /* Centrar verticalmente */
    }

    .aficiones__lista {
        grid-template-columns: repeat(3, 1fr);  /* 2 columnas en móvil */
        place-items: center;
    }

    .formacion__lista {
        flex-direction: row;
        gap: 4.5rem;
    }

    .formacion__elemento {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .formacion__icono {
        width: 150px; /* Ancho fijo para todas las imágenes */
    }

    .formacion__nombre {
        font-size: 0.97rem;
    }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    /* Aquí puedes ajustar aún más el diseño para pantallas grandes */
    /*
    .cabecera__titulo {
        font-size: 1.8rem;
    }

    .navegacion__elemento a {
        font-size: 1.1rem;
    }
    */

    .cabecera {
        padding: 30px 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .navegacion__lista {
        display: flex;
        gap: 20px;
    }
    
    .navegacion__elemento {
        display: block;
    }

    .navegacion__elemento a {
        text-decoration: none;
        font-size: 1.2rem;
        transition: color 0.3s ease;
    }
    
    .presentacion {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    
    .presentacion__foto {
        width: 100%; /* Permite que la imagen sea adaptable */
        max-width: 400px; /* Limita el tamaño máximo */
        height: auto;
        aspect-ratio: 1 / 1; /* Garantiza que siempre sea cuadrada */
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    }
    
    .presentacion__contenedor {
        flex-direction: column;
        gap: 0.9rem;
    }
    
    .presentacion__titulo {
        font-size: 3rem;
    }
    
    .presentacion__subtitulo {
        font-size: 1.25rem;
    }
    
    .redes {
        gap: 2rem;
    }
    
    .sobre-mi {
        background-color: var(--color-de-fondo);
        padding: 30px 10%;
    }
    
    .habilidades__lista {
        display: flex;
        justify-content: space-around;
    }
    
    .aficiones__lista {
        display: flex;
        justify-content: space-around;
    }
    
    .formacion__lista {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .proyectos__contenedor {
        flex-direction: row;
        padding: 25px;
    }
    
    .imagen__proyecto {
        width: 100%; /* Permite que la imagen sea adaptable */
        max-width: 600px; /* Limita el tamaño máximo */
        height: auto;
    }
    
    .proyectos__informacion {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .proyectos__nombre {
        padding: 25px;
    }
    
    .proyectos__botones {
        display: flex;
        gap: 10px;
    }
    
    .proyectos__contenedor:nth-child(odd) .proyectos_imagen {
        order: 2; /* En las filas impares, la imagen estará a la izquierda */
    }

    .proyectos__contenedor:nth-child(odd) .proyectos__informacion {
        order: 1; /* La información estará a la derecha */
    }

    .proyectos__contenedor:nth-child(even) .proyectos_imagen {
        order: 1; /* En las filas pares, la imagen estará a la derecha */
    }

    .proyectos__contenedor:nth-child(even) .proyectos__informacion {
        order: 2; /* La información estará a la izquierda */
    }
    /*
    .boton__repo,
    .boton__demo {
        font-size: 1rem;
    }
    */
    .contacto {
        background-color: var(--color-de-fondo);
        padding: 30px 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 6.5rem;
        flex-direction: row;
    }
    
    .contacto__imagen {
        display: block;
        max-width: 360px;
        height: auto;
        border-radius: 8px;
    }

    .footer__texto {
        font-size: 1.25rem;
    }
}